tags
*.o
dwm/dwm
dwm/config.h
dwmblocks/config.h
dwmblocks/dwmblocks
*-backup
Makefile.in
aclocal.m4
autom4te.cache/
build/
compile
config.guess
config.h
config.sub
configure
depcomp
*/Makefile.in
*/aclocal.m4
*/autom4te.cache/
*/config.h.in
*/config.h.in~
*/configure
install-sh
ltmain.sh
missing
build/
